GENESIS_SECRET=diarsaba

DIARSABA_BIND_ADDR=127.0.0.1:3000
DIARSABA_DB_PATH=./diarsaba.circular.db
DIARSABA_KV_PATH=./diarsaba.kv.db

# Parametros de creacion de la base circular (inmutables una vez creada).
OUROBOROS_DATA_SIZE=96
OUROBOROS_MAX_RECORDS=1000000

DIARSABA_P2P_LISTEN_PORT=0
DIARSABA_P2P_IDENTITY_PATH=./peer_id.key
DIARSABA_P2P_COMMAND_CHANNEL_SIZE=100
DIARSABA_P2P_EVENT_CHANNEL_SIZE=100